* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffefa;
  padding-top: 60px;
  overscroll-behavior: none;
  cursor: none !important;
}
/* Hide system cursor */
a,
button {
  cursor: none !important;
}
.antic-didone-regular {
  font-family: "Antic Didone", serif;
  font-weight: 400;
  font-style: normal;
}
.are-you-serious-regular {
  font-family: "Are You Serious", cursive;
  font-weight: 400;
  font-style: normal;
}
.beau-rivage-regular {
  font-family: "Beau Rivage", cursive;
  font-weight: 400;
  font-style: normal;
}

.afacad {
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
:root {
  --primary-bgcolor: #fffefa;
  --tertiary-color: black;
  --primary-color: white;
  --hover-color: #f39c12;
  --red-color: #5c0909;
  --antic-font: "Antic Didone", serif;
  --serious-font: "Are You Serious", cursive;
  --beau-font: "Beau Rivage", cursive;
  --afacad-font: "Afacad", sans-serif;
  --fontsize-18: clamp(1rem, 0.6768rem + 0.5051vw, 1.125rem);
  --fontsize-20: clamp(1.125rem, 0.8018rem + 0.5051vw, 1.25rem);
  --fontsize-30: clamp(1.75rem, 1.4268rem + 0.5051vw, 1.875rem); /* 30-26 */
  --fontsize-45: clamp(2.6875rem, 2.3643rem + 0.5051vw, 2.8125rem);
  --fontsize-50: clamp(3rem, 2.6768rem + 0.5051vw, 3.125rem); /* 50-48 */
}

/* scroll bar */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--tertiary-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color);
}
/* Custom cursor */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: var(--red-color);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition:
    transform 0.15s ease-out,
    width 0.2s ease,
    height 0.2s ease,
    background 0.2s ease;
  z-index: 9999;
  mix-blend-mode: normal; /* makes it visible on both light/dark backgrounds */
}

/* Hover state for clickable items */
.custom-cursor.hover {
  width: 40px;
  height: 40px;
  background: var(--hover-color);
  transform: translate(-50%, -50%) scale(1.05);
}

/* Navbar */
.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  position: fixed;
  top: 5px;
  left: 0;
  z-index: 10;
  background: transparent;
}

.logo {
  font-size: var(--fontsize-20);
  font-weight: bold;
  padding-top: 20px;
}
.logo h1 {
  color: var(--tertiary-color);
  font-family: var(--antic-font);
  font-weight: 400;
}
.logo span {
  font-family: var(--beau-font);
  font-weight: 400;
}

/* Burger icon */
.burger {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  z-index: 30;
}

.burger div {
  width: 100%;
  height: 4px;
  background: black;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Drawer (slides from top) */
.drawer {
  position: absolute; /* now relative to navbar */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* full-screen overlay */
  background-color: #fffefa;
  padding: 40px 5%;
  display: none;
  transition: all 0.4s ease-in-out;
  z-index: 20;
}
.drawer-main {
  margin-top: 10vh;
  margin-left: 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.drawer-image img {
  width: clamp(100px, 25vw, 300px);
}
.drawer.open {
  display: block;
  pointer-events: auto; /* slides just below navbar */
}

.drawer-links a {
  text-decoration: none;
  color: var(--tertiary-color);
  font-size: var(--fontsize-30);
  transition: color 0.3s ease;
  font-family: var(--afacad-font);
  font-weight: 400;
  opacity: 1;
  width: fit-content;
  transition: all 0.4s ease-in-out;
}
.drawer-links a:hover {
  color: var(--hover-color);
  text-decoration: underline;
}
.drawer-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.drawer p {
  text-align: center;
  font-size: var(--fontsize-20);
  font-family: var(--beau-font);
  font-weight: 400;
  margin-top: 5%;
  color: var(--hover-color);
}

/* Animate burger into "X" */
.burger.open div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}
.burger.open div:nth-child(2) {
  opacity: 0;
}
.burger.open div:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.hero {
  display: flex;
  margin-top: 40px;
  gap: 4.8rem;
  padding: 2.5rem;
  padding-bottom: 0;
  justify-content: space-between;
  height: fit-content;
}
.hero-title {
  font-size: var(--fontsize-45);
  font-family: var(--antic-font);
  font-weight: 400;
  line-height: 1.3;
  margin-left: 3.125rem;
}
.hero-title span {
  font-family: var(--beau-font);
  font-weight: 400;
}
.hero-subpart {
  display: flex;
  margin-top: 15px;
  gap: 1.6rem;
}
.hero-subpart .hero-img1 {
  width: 20%;
  height: 10%;
  margin-top: 70px;
}
.hero-text {
  font-size: var(--fontsize-18);
  font-family: var(--afacad-font);
  font-optical-sizing: auto;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}
.part2 {
  width: 170vw;
  height: 100vh;
}
.hero-img2 {
  width: 100%;
}

.approach {
  margin-top: 50px;
  padding: 2.5rem;
  margin-left: 20px;
}
.approach h1 {
  font-size: var(--fontsize-30);
  font-family: var(--beau-font);
  font-weight: 400;
}
.appr-textbox {
  display: flex;
  margin-top: 15px;
  gap: 1.9rem;
  align-items: end;
}
.appr-textbox h2 {
  font-size: var(--fontsize-30);
  font-family: var(--afacad-font);
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.3;
  max-width: 850px;
}
.appr-textbox p {
  font-size: var(--fontsize-18);
  font-family: var(--afacad-font);
  font-optical-sizing: auto;
  font-weight: 400;
}

.appr-image {
  display: flex;
  padding: 0px 8.7rem;
  justify-content: space-between;
}
.appr-part1 {
  position: relative;
}
.appr-part1 .img-1 {
  width: 35vw;
}
.appr-part1 .img-2 {
  position: absolute;
  width: 17vw;
  height: 35vh;
  top: clamp(90px, 10vh, 100px);
  right: clamp(-110px, 15vw, -260px);
  object-fit: cover;
}
.appr-part2 {
  margin-top: 90px;
}
.appr-part2 h2 {
  font-size: var(--fontsize-18);
  font-family: var(--afacad-font);
  font-optical-sizing: auto;
  font-weight: 400;
  margin-bottom: 10px;
}
.appr-part2 p {
  font-size: var(--fontsize-18);
  font-family: var(--beau-font);
  font-weight: 400;
}
.appr-part2 img {
  width: 30vw;
  margin-top: 10px;
}

.process {
  margin-top: 60px;
  padding: 0px 50px;
}
.process h1 {
  font-size: var(--fontsize-50);
  font-family: var(--beau-font);
  font-weight: 400;
}
.process-box {
  margin-top: 20px;
  margin-bottom: 30px;
}
.process-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-right: 60px;
}
.step {
  font-size: var(--fontsize-20);
  font-family: var(--antic-font);
  font-weight: 600;
  max-width: 250px;
}
.desc {
  font-size: var(--fontsize-20);
  font-family: var(--afacad-font);
  font-optical-sizing: auto;
  font-weight: 400;
  max-width: 600px;
}
.process-button {
  font-size: var(--fontsize-18);
  font-family: var(--afacad-font);
  font-optical-sizing: auto;
  font-weight: 400;
  text-decoration: none;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  padding: 6px 30px;
}
.process a:hover {
  color: var(--hover-color);
}

/*Breadcrumb */
.breadcrumb {
  color: var(--tertiary-color);
  font-family: var(--afacad-font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: var(--fontsize-20);
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 60px;
  margin-left: 40px;
  text-decoration: none;
  border-bottom: 1px solid black;
}
.breadcrumb:hover {
  color: var(--hover-color);
}

/*Footer */
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 3.8rem 3.12rem;
  align-items: center;
}
.footer-1 {
  display: inline-flex;
  gap: 0.5rem;
}
.footer a {
  text-decoration: none;
  color: var(--tertiary-color);
  transition: all 0.5s ease;
  font-size: 36px;
}
.footer a:hover {
  transform: scale(1.5);
}
.footer-2 {
  text-align: center;
  font-size: var(--fontsize-45);
  font-family: var(--antic-font);
  font-weight: 400;
}
.footer-2 span {
  font-family: var(--serious-font);
  font-weight: 400;
  color: var(--red-color);
}
.footer-3 a {
  text-align: end;
  font-size: 36px;
}

.mail-icon {
  width: 36px;
  height: 36px;
  transition: all 0.5s ease;
}
.mail-icon:hover {
  transform: scale(1.5);
}

@media (min-width: 1025px) {
  .hero {
    margin-top: 30px;
    gap: 2.5rem;
    padding: 2.5rem;
    transition: all 0.5s ease;
  }
  .hero-title {
    line-height: 1.3;
    margin-left: 3.125rem;
  }
  .hero-subpart {
    margin-top: 15px;
    gap: 1.6rem;
  }
  .hero-text {
    gap: 2.3rem;
    transition: all 0.5s ease;
  }
  .approach {
    padding: 2rem;
    margin-left: 10px;
    margin-top: 20px;
    transition: all 0.5s ease;
  }
  .appr-textbox {
    gap: 1.5rem;
    align-items: end;
    justify-content: center;
  }
  .appr-textbox h2 {
    max-width: 900px;
  }
  .appr-image {
    padding: 0px 6rem;
    transition: all 0.5s ease;
  }
}
@media (max-width: 1024px) {
  :root {
    --fontsize-20: clamp(1rem, 0.623rem + 0.7843vw, 1.125rem);
    --fontsize-18: clamp(0.875rem, 0.498rem + 0.7843vw, 1rem);
    --fontsize-30: clamp(1.375rem, 0.6211rem + 1.5686vw, 1.625rem); /* 26-22 */
    --fontsize-45: clamp(2.1875rem, 1.2451rem + 1.9608vw, 2.5rem); /* 40-35 */
    --fontsize-50: clamp(2.75rem, 1.9961rem + 1.5686vw, 3rem); /* 48-44 */
  }
  /* Burger icon */
  .burger {
    width: 28px;
    height: 20px;
  }
  .hero {
    margin-top: 30px;
    gap: 2rem;
    transition: all 0.5s ease;
  }
  .hero-title {
    margin-left: 3rem;
  }
  .hero-subpart {
    margin-top: 15px;
    gap: 1rem;
  }
  .hero-text {
    gap: 2rem;
    transition: all 0.5s ease;
  }
  .approach {
    padding: 1.5rem;
    margin-left: 10px;
    margin-top: 10px;
    transition: all 0.5s ease;
  }
  .appr-textbox {
    gap: 1rem;
    align-items: end;
    justify-content: center;
  }
  .appr-textbox h2 {
    max-width: 800px;
  }
  .appr-image {
    padding: 0px 4rem;
    transition: all 0.5s ease;
    margin-top: 10px;
  }
  .process-box {
    margin-bottom: 50px;
  }
  .process-text {
    padding-right: 10px;
  }
  .desc {
    max-width: 500px;
  }
  /*Footer */
  .footer {
    margin-top: 10px;
  }
  .footer-1 {
    gap: 0.5rem;
  }
  .footer a {
    font-size: 32px;
  }
  .mail-icon {
    width: 32px;
    height: 32px;
    transition: all 0.5s ease;
  }
}
/* media query 768 */
@media (max-width: 768px) {
  :root {
    --fontsize-20: clamp(0.875rem, 0.4974rem + 1.0471vw, 1rem);
    --fontsize-30: clamp(1.25rem, 0.8724rem + 1.0471vw, 1.375rem); /* 26-22 */
    --fontsize-50: clamp(2.375rem, 1.2421rem + 3.1414vw, 2.75rem); /* 44-38 */
    --fontsize-18: clamp(0.75rem, 0.3724rem + 1.0471vw, 0.875rem); /* 14-12 */
    --fontsize-45: clamp(2.1875rem, 1.2451rem + 1.9608vw, 2.5rem); /* 40-35 */
  }
  /* Burger icon */
  .burger {
    width: 26px;
    height: 18px;
    transition: all 0.5s ease;
  }
  .hero-title {
    margin-left: 0;
  }
  .hero-subpart .hero-img1 {
    display: none;
  }
  .approach {
    margin-top: 0;
    transition: all 0.5s ease;
  }
  .appr-textbox {
    gap: 0.5rem;
    align-items: end;
    justify-content: center;
  }
  .appr-image {
    padding: 0px 3rem;
    transition: all 0.5s ease;
    margin-top: 10px;
  }
  .appr-part1 .img-2 {
    width: 17vw;
    height: 20vh;
    top: clamp(70px, 10vh, 100px);
    right: clamp(-60px, 15vw, -200px);
    object-fit: cover;
  }
  .process-box {
    margin-bottom: 50px;
  }
  .process-text {
    padding-right: 0;
  }
  .desc {
    max-width: 300px;
  }
  /*Footer */
  .footer {
    padding: 3.8rem 2rem;
    transition: all 0.5s ease;
    align-items: center;
    margin-top: 5px;
  }
  .footer-1 {
    gap: 0.5rem;
  }

  .footer a {
    transition: all 0.5s ease;
    font-size: 28px;
  }
  .mail-icon {
    width: 28px;
    height: 28px;
    transition: all 0.5s ease;
  }
}
/* media query 576 */
@media (max-width: 576px) {
  :root {
    --fontsize-30: clamp(1.25rem, 1.25rem + 0.3472vw, 1.375rem); /* 22-20 */
    --fontsize-50: clamp(2.125rem, 2.125rem + 0.6944vw, 2.375rem); /* 38-34 */
    --fontsize-20: clamp(0.625rem, 0.625rem + 0.3472vw, 0.75rem); /* 14-12 */
    --fontsize-18: clamp(0.625rem, 0.625rem + 0.3472vw, 0.75rem); /* 12-10 */
  }
  /* Burger icon */
  .burger {
    width: 24px;
    height: 16px;
    transition: all 0.5s ease;
  }
  .drawer-main {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 3rem;
  }
  .drawer-image img {
    width: 80%;
  }
  .hero {
    margin-top: 30px;
    gap: 1rem;
    transition: all 0.5s ease;
  }
  .hero-text {
    gap: 1rem;
    transition: all 0.5s ease;
  }
  .appr-textbox {
    flex-direction: column;
    gap: 1rem;
    align-items: end;
    justify-content: center;
  }
  .appr-image {
    padding: 0px 3.5rem;
    transition: all 0.5s ease;
    margin-top: 10px;
    flex-direction: column;
  }
  .appr-part1 .img-1 {
    width: 45vw;
  }
  .appr-part1 .img-2 {
    width: 28vw;
    height: 26vh;
    top: clamp(30px, 5vh, 100px);
    right: clamp(10px, 10vw, 100px);
    object-fit: cover;
  }
  .appr-part2 {
    margin-top: 50px;
  }
  .appr-part2 img {
    width: 50vw;
    margin-top: 10px;
  }
  .process-text {
    flex-direction: column;
    margin-bottom: 10px;
    padding-right: 0;
    gap: 1rem;
  }
  .process-button {
    padding: 6px 10px;
  }
  .footer a {
    transition: all 0.5s ease;
    font-size: 25px;
  }
  .footer-2 {
    font-size: 3vw;
  }
  .mail-icon {
    width: 25px;
    height: 25px;
    transition: all 0.5s ease;
  }
}
