* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffefa;
  padding-top: 60px;
  overflow-x: hidden;
  overscroll-behavior: none;
  cursor: none !important;
}
/* Hide system cursor */
a,
button {
  cursor: none !important;
}

/*Font styles */
.antic-didone-regular {
  font-family: "Antic Didone", serif;
  font-weight: 400;
  font-style: normal;
}
.are-you-serious-regular {
  font-family: "Are You Serious", cursive;
  font-weight: 400;
  font-style: normal;
}
.beau-rivage-regular {
  font-family: "Beau Rivage", cursive;
  font-weight: 400;
  font-style: normal;
}
.afacad {
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
:root {
  --primary-bgcolor: #fffefa;
  --tertiary-color: black;
  --primary-color: white;
  --hover-color: #f39c12;
  --red-color: #5c0909;
  --antic-font: "Antic Didone", serif;
  --serious-font: "Are You Serious", cursive;
  --beau-font: "Beau Rivage", cursive;
  --afacad-font: "Afacad", sans-serif;
  --fontsize-30: clamp(1.625rem, 0.9785rem + 1.0101vw, 1.875rem); /* 30-26 */
  --fontsize-43: clamp(2.25rem, 1.1187rem + 1.7677vw, 2.6875rem);
  --fontsize-16: clamp(0.875rem, 0.5518rem + 0.5051vw, 1rem);
  --fontsize-25: clamp(1.4375rem, 1.1143rem + 0.5051vw, 1.5625rem);
  --fontsize-20: clamp(1.125rem, 0.8018rem + 0.5051vw, 1.25rem);
  --fontsize-18: clamp(1rem, 0.6768rem + 0.5051vw, 1.125rem);
  --fontsize-45: clamp(2.6875rem, 2.3643rem + 0.5051vw, 2.8125rem);
  --fontsize-36: clamp(2.125rem, 1.8018rem + 0.5051vw, 2.25rem);
}

/* scroll bar */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--tertiary-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color);
}
/* Custom cursor */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;

  background: var(--red-color);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition:
    transform 0.15s ease-out,
    width 0.2s ease,
    height 0.2s ease,
    background 0.2s ease;
  z-index: 9999;
  mix-blend-mode: normal; /* makes it visible on both light/dark backgrounds */
}

/* Hover state for clickable items */
.custom-cursor.hover {
  width: 40px;
  height: 40px;
  background: var(--hover-color);
  transform: translate(-50%, -50%) scale(1.05);
}
/* Navbar */
.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  position: fixed;
  top: 5px;
  left: 0;
  z-index: 10;
  background: transparent;
}

.logo {
  font-size: var(--fontsize-20);
  font-weight: bold;
  padding-top: 20px;
}
.logo h1 {
  color: var(--tertiary-color);
  font-family: var(--antic-font);
  font-weight: 400;
}
.logo span {
  font-family: var(--beau-font);
  font-weight: 400;
}

/* Burger icon */
.burger {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  z-index: 30;
}

.burger div {
  width: 100%;
  height: 4px;
  background: black;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Drawer (slides from top) */
.drawer {
  position: absolute; /* now relative to navbar */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* full-screen overlay */
  background-color: #fffefa;
  display: none;
  transition: all 0.4s ease-in-out;
  z-index: 20;
  padding: 40px 5%;
}

.drawer-main {
  margin-top: 10vh;
  margin-left: 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.drawer-image img {
  width: clamp(100px, 25vw, 300px);
}
.drawer.open {
  display: block;
  pointer-events: auto; /* slides just below navbar */
}

.drawer-links a {
  text-decoration: none;
  color: var(--tertiary-color);
  font-size: var(--fontsize-30);
  transition: color 0.3s ease;
  font-family: var(--afacad-font);
  font-weight: 400;
  opacity: 1;
  width: fit-content;
  transition: all 0.4s ease-in-out;
}
.drawer-links a:hover {
  color: var(--hover-color);
  text-decoration: underline;
}
.drawer-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.drawer p {
  text-align: center;
  font-size: var(--fontsize-20);
  font-family: var(--beau-font);
  font-weight: 400;
  margin-top: 5%;
  color: var(--hover-color);
}

/* Animate burger into "X" */
.burger.open div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}
.burger.open div:nth-child(2) {
  opacity: 0;
}
.burger.open div:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/*Gallery */
.gallery {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 3.15rem;
  margin-left: 8.12rem;
  margin-top: 40px;
  height: fit-content;
}
.gallery-image {
  position: relative;
  width: 40vw;
  height: 85vh;
  overflow: hidden;
}
.gallery-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.gallery-image img.active {
  opacity: 1;
}
.gallery-list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.gallery-item:hover {
  cursor: pointer;
  margin-left: 15px;
  color: var(--red-color);
}
.item-list {
  display: flex;
  gap: 0.62rem;
  font-family: var(--beau-font);
  font-weight: 400;
}
.item-list .number {
  font-family: var(--beau-font);
  font-weight: 400;
  font-size: var(--fontsize-43);
}
.item-list a {
  text-decoration: none;
  color: var(--tertiary-color);
}
.date {
  font-family: var(--afacad-font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: var(--fontsize-16);
}

/*Bio */
.bio {
  max-width: 600px;
  margin-top: 130px;
  margin-left: 180px;
}
.bio span {
  font-family: var(--beau-font);
  font-weight: 400;
  font-size: var(--fontsize-25);
}
.bio p {
  font-family: var(--antic-font);
  font-weight: 400;
  font-size: var(--fontsize-20);
  line-height: 1.3;
}
/*Bio Image */
.bio-image {
  display: flex;
  justify-content: end;
  margin-right: 200px;
}
.bio-image img {
  max-width: 500px;
}

/*Breadcrumb */
.breadcrumb {
  color: var(--tertiary-color);
  font-family: var(--afacad-font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: var(--fontsize-20);
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 60px;
  margin-left: 40px;
  text-decoration: none;
  border-bottom: 1px solid black;
}
.breadcrumb:hover {
  color: var(--hover-color);
}

/*Footer */
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 3.8rem 3.12rem;
  align-items: center;
}
.footer-1 {
  display: inline-flex;
  gap: 0.5rem;
}
.footer a {
  text-decoration: none;
  color: var(--tertiary-color);
  transition: all 0.5s ease;
  font-size: 36px;
  cursor: pointer;
}
.footer a:hover {
  transform: scale(1.5);
}
.footer-2 {
  text-align: center;
  font-size: var(--fontsize-45);
  font-family: var(--antic-font);
  font-weight: 400;
}
.footer-2 span {
  font-family: var(--serious-font);
  font-weight: 400;
  color: var(--red-color);
}
.footer-3 a {
  text-align: end;
  font-size: 36px;
}

.mail-icon {
  width: 36px;
  height: 36px;
  transition: all 0.5s ease;
}
.mail-icon:hover {
  transform: scale(1.5);
}
/* Media query 1420 */
@media (min-width: 1025px) {
  .gallery-list {
    gap: 1.1rem;
    transition: all 0.5s ease;
  }
  .bio-image img {
    max-width: 40vw;
    transition: all 0.5s ease;
  }
}

/* Media query 1024 */
@media (max-width: 1024px) {
  :root {
    --fontsize-43: clamp(2rem, 1.2461rem + 1.5686vw, 2.25rem);
    --fontsize-16: clamp(0.75rem, 0.373rem + 0.7843vw, 0.875rem);
    --fontsize-25: clamp(1.3125rem, 0.9355rem + 0.7843vw, 1.4375rem);
    --fontsize-20: clamp(1rem, 0.623rem + 0.7843vw, 1.125rem);
    --fontsize-18: clamp(0.875rem, 0.498rem + 0.7843vw, 1rem);
    --fontsize-45: clamp(2.1875rem, 1.2451rem + 1.9608vw, 2.5rem); /* 40-35 */
    --fontsize-30: clamp(1.375rem, 0.6198rem + 2.0942vw, 1.625rem); /* 26-22 */
  }
  /* Burger icon */
  .burger {
    width: 28px;
    height: 20px;
  }
  /*Gallery */
  .gallery {
    gap: 3.15rem;
    margin-left: 4rem;
    transition: all 0.4s ease;
  }
  .gallery-image {
    width: 46vw;
    height: 83vh;
    transition: all 0.5s ease;
  }
  /*Bio */
  .bio {
    margin-left: 100px;
    transition: all 0.5s ease;
  }
  /*Bio Image */
  .bio-image {
    margin-right: 50px;
    margin-top: 20px;
    transition: all 0.5s ease;
  }
  .bio-image img {
    max-width: 50vw;
    transition: all 0.5s ease;
  }
  /*Footer */
  .footer {
    margin-top: 10px;
  }
  .footer-1 {
    gap: 0.5rem;
  }
  .footer a {
    font-size: 32px;
  }
  .mail-icon {
    width: 32px;
    height: 32px;
    transition: all 0.5s ease;
  }
}
/* Media query 768 */
@media (max-width: 768px) {
  :root {
    --fontsize-43: clamp(1.75rem, 0.9948rem + 2.0942vw, 2rem);
    --fontsize-16: clamp(0.75rem, 0.373rem + 0.7843vw, 0.875rem);
    --fontsize-25: clamp(1.1875rem, 0.8099rem + 1.0471vw, 1.3125rem);
    --fontsize-20: clamp(0.875rem, 0.4974rem + 1.0471vw, 1rem);
    --fontsize-18: clamp(0.75rem, 0.3724rem + 1.0471vw, 0.875rem); /* 14-12 */
    --fontsize-45: clamp(2.1875rem, 1.2451rem + 1.9608vw, 2.5rem); /* 40-35 */
    --fontsize-30: clamp(1.25rem, 0.8724rem + 1.0471vw, 1.375rem); /* 22-20 */
  }
  /* Burger icon */
  .burger {
    width: 26px;
    height: 18px;
    transition: all 0.5s ease;
  }
  /*Gallery */
  .gallery {
    gap: 2rem;
    margin-left: 2rem;
    transition: all 0.4s ease;
  }
  .gallery-image {
    width: 47vw;
    height: 80vh;
    transition: all 0.5s ease;
  }
  /*Bio */
  .bio {
    max-width: 500px;
    margin-left: 50px;
    transition: all 0.5s ease;
  }
  /*Bio Image */
  .bio-image {
    margin-right: 50px;
    margin-top: 20px;
    transition: all 0.5s ease;
  }
  /*Footer */
  .footer {
    padding: 3.8rem 2rem;
    transition: all 0.5s ease;
    align-items: center;
    margin-top: 5px;
  }
  .footer-1 {
    gap: 0.5rem;
  }

  .footer a {
    transition: all 0.5s ease;
    font-size: 28px;
  }
  .mail-icon {
    width: 28px;
    height: 28px;
    transition: all 0.5s ease;
  }
}
/* Media query 576 */
@media (max-width: 576px) {
  :root {
    --fontsize-43: clamp(1.875rem, 1.875rem + 2.2569vw, 2.6875rem);
    --fontsize-16: clamp(0.75rem, 0.373rem + 0.7843vw, 0.875rem);
    --fontsize-25: clamp(1.1875rem, 0.8099rem + 1.0471vw, 1.3125rem);
    --fontsize-30: clamp(1rem, 1rem + 0.6944vw, 1.25rem); /* 20-16 */
    --fontsize-20: clamp(0.625rem, 0.625rem + 0.3472vw, 0.75rem); /* 14-12 */
    --fontsize-18: clamp(0.625rem, 0.625rem + 0.3472vw, 0.75rem); /* 12-10 */
  }
  .drawer-main {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 3rem;
  }
  .drawer-image img {
    width: 80%;
  }
  /* Burger icon */
  .burger {
    width: 24px;
    height: 16px;
    transition: all 0.5s ease;
  }

  /*Gallery */
  .gallery {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: 0;
    transition: all 0.4s ease;
  }
  .gallery-image {
    width: 80vw;
    height: 80vh;
    transition: all 0.5s ease;
    order: 2;
  }
  .gallery-list {
    order: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  /*Bio */
  .bio {
    max-width: 300px;
    margin-left: 50px;
    transition: all 0.5s ease;
  }
  /*Bio Image */
  .bio-image {
    margin-right: 20px;
    margin-top: 20px;
    transition: all 0.5s ease;
  }
  /*Footer */
  .footer a {
    transition: all 0.5s ease;
    font-size: 25px;
  }
  .footer-2 {
    font-size: 3vw;
  }
  .mail-icon {
    width: 25px;
    height: 25px;
    transition: all 0.5s ease;
  }
}
